*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: mediumaquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    perspective: 400px;
}

header {
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
        margin-top: 1rem;
        opacity: .6;
    }
}

footer {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    button {
        padding: .5rem;
        border-radius: .5rem;
    }
}

body article {
    width: 300px;
    height: 420px;
    background: #eee;
    border: .5rem solid white;
    border-radius: 8px;
    box-shadow: 0 0 3rem rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


aside {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    align-self: flex-start;
}

h1 {
    font-size: 4rem;
}

aside.bottom {
    align-self: flex-end;
    transform: rotate(180deg);
}

article .suit {
    color: rgb(219, 51, 51);
}

article.black .suit {
    color: black;
}